extends ../layout

block scripts
    script(type="text/javascript", src="/javascripts/editChart.js")
    script(type="text/javascript", src="/javascripts/template.js")

block navigation
    li: a(href="/") Home
    li: a(href="/charts") Chart list
    li: a(href="/authors") Author list


block content

    div.offset1

        h3 Edit Chart
        div#warning
        form.form-horizontal(id="chartForm", method="POST", action="/charts/#{chart._id}")
            input(type="hidden", name="_method", value="PUT")
            input#chartInfo(type="hidden", name="chartInfo", value="#{chart.info}")

            div.control-group
                label.control-label(for="chartAuthor") Author
                div.controls
                    input#chartAuthor(type="text", name="chartAuthor", placeholder="author name", value="#{chart.author}")
            
            div.control-group
                label.control-label(for="chartTitle") Title
                div.controls
                    input#chartTitle(type="text", name="chartTitle", placeholder="chart title", value="#{chart.title}")

            div.control-group
                label.control-label(for="sliceName") Slice Name
                div.controls
                    input#sliceName(type="text", name="slice-name", placeholder="slice name")

            div.control-group
                label.control-label(for="sliceValue") Slice value
                div.controls
                    input#sliceValue(type="number", name="slice-value", placeholder="slice number")

            div.control-group
                div.controls
                    button.btn.btn-success#addSlice(type="button") Add slice

            div.control-group
                div.controls
                    button.btn.btn-primary#updateChart(type="button") Update chart

            div.control-group
                div.controls
                    a.btn(href="/charts/#{chart._id}") Back

        div#sliceList