extends ../layout

block scripts
    script(type="text/javascript", src="/javascripts/drawGraph.js")
    script(type="text/javascript", src="/javascripts/template.js")

block navigation
    li: a(href="/") Home
    li: a(href="/charts") Chart list
    li: a(href="/authors") Author list

block content
    div.offset1
        h3 #{chart.title}
            small  by 
            small: a.muted(href="/authors/#{chart.author}") #{chart.author}

        input#chartInfo(type="hidden", name="chartInfo", value="#{chart.info}")
        input#chartTitle(type="hidden", name="chartTitle", value="#{chart.title}")
        input#chartAuthor(type="hidden", name="chartAuthor", value="#{chart.author}")
        
        div#container

        div.form-actions

            form(method="POST", action="/charts/#{chart._id}")
                a(href="/charts/#{chart._id}/edit").btn.btn-primary Edit chart
                input(type="hidden", name="_method", value="DELETE")
                button.btn(type="submit") Delete chart
